
* {  box-sizing: border-box;  }


.product-grid.product-grid--flexbox .product-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
}
.product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
}
.product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
}
.product-grid__product-wrapper {
    padding: 1rem;
    float: left;

}
.product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}
.product-grid__product:hover {
    box-shadow: 0px 0px 0px 1px #eee;
    z-index: 50;
}
.product-grid__product:hover .product-grid__extend {
    display: block;
}
.product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 150px;
}
.product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.product-grid__title {
    margin-top: 0.875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
}
.product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.product-grid__price {
    color: #e91e63;
    font-weight: bold;
    letter-spacing: 0.4px;
}
.product-grid__extend-wrapper {
    position: relative;
}
.product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: 0.4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
    content: "";
    height: 0.875rem;
    width: 100%;
    position: absolute;
    top: -0.4375rem;
    left: 0;
    background: #fff;
}
.product-grid__description {
    font-size: 0.875em;
    margin-top: 0.4375rem;
    margin-bottom: 0;
}
.product-grid__btn {
    display: inline-block;
    font-size: 0.875em;
    color: #777;
    background: #eee;
    padding: 0.5em 0.625em;
    margin-top: 0.875rem;
    margin-right: 0.625rem;
    cursor: pointer;
    border-radius: 4px;
}
.product-grid__btn i.fa {
    margin-right: 0.3125rem;
}
.product-grid__add-to-cart {
    color: #fff;
    background: #e91e63;
}
.product-grid__add-to-cart:hover {
    background: #ee4c83;
}
.product-grid__view {
    color: #777;
    background: #eee;
}
.product-grid__view:hover {
    background: #fff;
}

/*88888888888888888888888888888888*/
.well{
    width: 80%;
}



.glyphicon{
    margin-right:5px;
}

.thumbnail{
    border: 0;
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
    background: #ffffff;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) {
    background: #ffffff;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.item.list-group-item .product-grid__extend{
display: block;
}

.item.list-group-item .product-grid__description{

}

.item.list-group-item .product-grid__product-wrapper{
    width: 90%;
    border: 0;
}

.item.list-group-item .product-grid__product:hover{
    width: 90%;
    border: 0;
}


